<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h2>Please enter correct number</h2>
        <form method="post">
            <h5>please enter coordinate like 1,1;1,2;2,2;2,1</h5>
            <h5>each pair coordinate should be more than 3</h5>
            <h5>if you entered more than 2 element next element will be ignored</h5>
            <h5>like this 1,2,3 - 3 will be ignored)</h5>
            <input type="text" name="text" placeholder="Enter coordinates:"><br>
            <button type="submit">sent</button>
        </form>
    </div>
    <div> list of coordinates </div>
    <thead>
    <tr>
        <th> coordinate id </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${points.empty}">
        <td colspan="2"> No points Available </td>
    </tr>
    <tr th:each="point : ${points}">
        <a th:href="@{http://localhost:8080/canvas/{id}(id = ${point.id})}" >[[${point.id}]]</a>
    </tr>
    </tbody>
</body>
</html>